*{
  box-sizing: border-box;
}
body{
  background-color: #000435;
}
#siren{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}
#rotate{
  transform: rotate(-90deg);
  font-size: 15px;
  font-weight: 90px;
  color: aliceblue;
}
#sirentext{
  font-size: xx-large;
  font-weight: bolder;
  color: #32a852;
}
.toppost {
  font-size: larger;
  font-weight: 500;
  color: aliceblue;
  margin: 10px 0px;
}
.homelatest{
  /* margin-left: 50px; */
  position: relative;
  left: 15vh;
  
}
.hrline{
  height: 2px;
  width: 45px;
  margin: 10px 1px;
  border: 1px solid #f6a5a5;
  background-color: #f6a5a5;
}
.advertisement{
  margin-top: 10px;
  height: 500px;
  width: 450px;
  margin: auto;
  /* background-color: #f4afe5; */

}
.homeadvertisement, .homeadvertimg{
  /* margin-top: 10px; */
  height: 105vh;
  width: 450px;
  /* margin: auto; */
}

.advertimg{
  height: 500px;
  width: 450px;

}
.advertimg2{
  width: 450px;
  height: 349px;

}
/* hr{
  font-weight: 10;
} */
#navlink{
  align-items: center;
  background-color: #f8f9f9;
  border-bottom: 2px solid #b1b1ef;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #787575;
  display: flex;
  font-size: larger;
  font-weight: 500;
  height: 3em;
  justify-content: space-evenly;
  /* border-top: none; */
}
a{
  text-decoration: none;
}
#hrightimg{
  display: flex;
  justify-content: center;
}
.imageheight{
  width: 308px;
  height: 184px;
  border-radius: 15px;
}

/* home top image  */


#homeparent{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  gap: 5px;
  margin-top: 5vh;
}
#lefthome{
  height: 400px;
  width: 550px;

}
#righthome{
  height: 400px;
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#homeleftimg{
  height: 400px;
  width: 550px;
  border-radius: 15px;
}
.homerightimg{
  height: 195px;
  width: 550px;
  border-radius: 15px;
}
#homedata{
  display: flex;
  justify-content: space-evenly;
}
.descriptionwidth{
  width: 308px;
}

.parentside{
  display: flex;
  justify-content: space-evenly;
}
.parentcontent{
  margin: 5px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid gray;
}
.parentcontent:hover{
  background-color: #8d8686;
}
.headingcnt{
  font-size: x-large;
}
.bm-menu-wrap, .bm-overlay,.bm-burger-button{
  display: none;

}
.itemheading{
  margin: 0;
  color: aliceblue;
  padding: 0;
  /* width: ; */
  box-sizing: border-box;
}
.itemheading:hover{
  color: red;
}
.itemdesc{
  color: yellow;

}
.leftchild,.rightchild{
  width: 50%;
}
.tphw{
  width: 452px;
  height: 266px;
}
.tphwsmall{
  width: 101px;
  height: 104px;
}
.smalltopost{
  display: flex;
}

/* dynamic component  */

#dynmbgc{
  background-color: #fff;
  border-radius: 15px;
  height: fit-content;
}
#dynmheading{
  color: #2f046f;
  text-align: center;
}
#dynmimgcenter{
  display: flex;
  justify-content: center;
}
#dynmimg{
  height: 400px;
  border-radius: 15px;
}
#dynmdesc{
  height: fit-content;
  padding: 10px;
}
#dynmrevbtm{
  color: #2f046f;
  height: 50px;
  width: 190px;
  border: 2px solid red;
  border-radius: 15px;
  cursor: pointer;
  font-size: x-large;
  font-weight: 500;
}
#dynmbtm{
  display: flex;
  justify-content: center;
  margin: 10px;

}

/* footer component  */

.footerbgc{
  background-color: #fff;
  border: 5px solid #077596;
}
.fa-twitter {
  color: #1da1f2; /* Twitter color */
}

.fa-facebook {
  color: #1877f2; /* Facebook color */
}

.fa-instagram {
  color: #c13584; /* Instagram color */
}

.fa-youtube {
  color: #ff0000; /* YouTube color */
}

.fa-whatsapp {
  color: #25d366; /* WhatsApp color */
}
#socialicons{
  display: flex;
  gap: 10px;
  position: relative;
  top: 10px;
  left: 200vh;
}
.rotatecolor{
  color: #2f046f;
  transform: rotate(-90deg);
  font-weight: 900;
}
.footercontent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footercontent2{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 10vh;
}








@media only screen and (max-width:600px) and (min-width: 370px) {
  #navlink{
    display: none;
  }
  .bm-menu-wrap, .bm-overlay{
    display: block;  
  }
  .bm-menu-wrap{
    width: 150px;
  }
.bm-cross-button{
    right: 1px; 
    top: 8px;
} 
 #react-burger-cross-btn{
  right: 1px;
}

  /* HamburgerMenu.css */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 10px;
  display: block;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item {
  display: inline-block;
  margin-bottom: 10px;
}

.bm-item a {
  color: #b8b7ad;
  text-decoration: none;
}

.bm-item:hover {
  background-color: #a90000;
}

.bm-item.active {
  color: #a90000;
}

}


